@model IEnumerable<BauToDoList.Models.ToDoItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Manager.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Organizator.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Side.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Attachment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MeetingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlannedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinishDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReviseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConversationSubject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupporterCompany)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupporterDoctor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConversationAttendeeCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScheduledOrganizationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MailingSubjects)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PosterSubject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PosterCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Elearning)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypesOfScans)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AsoCountInScans)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypesOfOrganization)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AsoCountInOrganization)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypesOfVaccinationOrganization)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AsoCountInVaccinationOrganization)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountOfCompensantionForPoster)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CorporateProductivityReport)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Manager.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Organizator.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Side.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Attachment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MeetingDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlannedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FinishDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReviseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConversationSubject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SupporterCompany)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SupporterDoctor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConversationAttendeeCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScheduledOrganizationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MailingSubjects)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PosterSubject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PosterCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Elearning)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypesOfScans)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AsoCountInScans)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypesOfOrganization)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AsoCountInOrganization)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypesOfVaccinationOrganization)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AsoCountInVaccinationOrganization)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmountOfCompensantionForPoster)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CorporateProductivityReport)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
