@model List<SaglikUrunleri.Entity.Entity.Urun>

@{
    ViewBag.Title = "UrunlerBy";
   // Layout = "~/Views/Shared/_SaglikLayout.cshtml";
}

<div class="masonry-grid-fitrows row grid-space-20">
    @foreach (var item in Model)
    {
        <div class="col-md-3 col-sm-6 masonty-grid-item">
            <div>
                <span class="badge default-bg">% @item.indirimOrani</span>
            </div>
            <h3 class="title"><span>@item.urunAd</span></h3>
            <div class="overlay-container">
                <img src="@item.urunResimYolu1" alt="@item.urunAd" title="@item.urunAd" />
                <a href="@Url.Action("UrunDetay","Home",new { id=item.Id})" class="overlay small">
                    <i class="fa fa-plus"></i>
                    <span>detaylar...</span>
                </a>
            </div>
            <p>Özel Kampanyalı KDV Dahil Fiyatlardır</p>
            <div class="listing-item-body clearfix">
                <span class="price">@string.Format("{0:#,##0.00}", item.urunFiyat)</span>
                <input type="number" id="Adet_@item.Id" class="pull-right" min="1" max="@item.miktar" value="1" />
            </div>

            <input type="image" id="btnSepet" class="pull-right small" src="~/Content/images/Sepet.png" width="128" height="26" onclick="Ekle('@item.Id',$('Adet_@item.Id').val())" />
        </div>
    }
</div>
<script>
    function Ekle(id, adet) {
        $.ajax({
            type: "GET",
            url: "/Sepet/SepetEkle",
            data: {
                Id: id, Adet: adet//????????????????

            },
            success: function (sonuc) {
                $('$sepet').html(sonuc);
            },
            error: function() {
                alert("hata");
            }
        }),
    }
</script>

